@import '../../bower_components/bootswatch-scss/flatly/variables';
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../bower_components/bootswatch-scss/flatly/bootswatch';

button.btn-link {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.panel-info {
  padding-right: 5%;
  padding-left: 5%;
}

.nested-group input:focus {
  box-shadow: none;
}

.nested-group input:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 55px;
}

.nested-group input {
  margin-left: -5px;
  border-radius: 0px;
}

.nested-group  button {
  margin-left: -5px;
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
