<span>
  <accordion-heading>
    Set <span ng-show="set.description">- {{ set.description }}</span>
  </accordion-heading>

  <div class="row">

    <div class="form-group col-sm-12">
      <label class="control-label">Description</label>
      <input type="text" class="form-control" ng-model="set.description">
    </div>

    <hr>

    <span ng-repeat="query in set.queries">

      <div class="form-group">
        <span class="col-sm-5">
          <label class="control-label">OID</label>
          <input type="text" class="form-control" ng-model="query.oid">
        </span>

        <span class="col-sm-6">
          <label class="control-label">Description</label>
          <input type="text" class="form-control" ng-model="query.description">
        </span>

        <span class="col-sm-1">
          <button type="button" class="btn btn-danger" ng-click="removeQuery($index)" popover-placement="right"
                  popover="Remove"
                  popover-trigger="mouseenter">
            <span class="fa fa-remove"></span>
          </button>
        </span>
      </div>
    </span>

    <span class="col-sm-12 text-right">
      <button type="button" class="btn btn-info" ng-click="addQuery()">Add query</button>
      <button type="button" class="btn btn-danger" ng-click="process.removeQuerySet(index)"><span class="fa fa-remove"></span> Remove set</button>
    </span>

  </div>
</span>
