<div class="panel panel-primary">

  <div class="panel-heading">{{process.server.host}}:{{process.server.port}}</div>
  <div class="panel-body">

    <snmp-agent agent="process.server"></snmp-agent>

    <accordion close-others="false">
      <accordion-group ng-repeat="set in process.querySets">
        <query-set  set="set"></query-set>
      </accordion-group>
    </accordion>


    <accordion close-others="false">
      <accordion-group ng-repeat="writer in process.writers">
        <writer writer="writer"></writer>
      </accordion-group>
    </accordion>

  </div>

</div>
