<span>
  <accordion-heading>
    Query <span ng-show="query.resultAlias || query.obj">- {{ query.resultAlias || query.obj }}</span>
  </accordion-heading>

  <div class="row panel-info" ng-class="{'has-error': showErrorMessage('query.obj')}">
    <div class="form-group col-sm-4">
      <label class="control-label">Object</label>
      <input type="text" class="form-control" ng-model="query.obj">
      <p class="text-danger" ng-show="showErrorMessage('query.obj')">The submitted value is incorrect.</p>
    </div>

    <div class="form-group col-sm-4">
      <label class="control-label">Alias</label>
      <input type="text" class="form-control" ng-model="query.resultAlias">
    </div>

    <div class="form-group col-sm-4" ng-class="{'has-error': showErrorMessage('query.typeName')}">
      <label class="control-label">Type Name</label>
      <input type="text" class="form-control" ng-model="query.typeName">
      <p class="text-danger" ng-show="showErrorMessage('query.typeName')">The submitted value is incorrect.</p>
    </div>

    <hr>

    <div ng-repeat="(i, attr) in query.attr track by $index" class="form-group col-sm-4">
      <label class="control-label">Attribute {{ $index + 1 }}</label>

      <div class="form-inline">
        <input type="text" class="form-control" ng-model="query.attr[i]">
        <button type="button" class="btn btn-danger" ng-click="removeAttr(i)" popover-placement="right"
                popover="Remove" popover-trigger="mouseenter">
          <span class="fa fa-remove"></span>
        </button>
      </div>
    </div>

    <p class="text-danger" ng-show="showErrorMessage('query.attr')">At least one attribute must be supplied.</p>

    <hr>

    <span class="col-sm-12 text-right">
      <button type="button" class="btn btn-default" ng-click="addAttr()">
        Add attribute
      </button>
      <button type="button" class="btn btn-danger" ng-click="process.removeQuery(index)">
        Remove query
      </button>
    </span>
  </div>
</span>
